In [ ]:
pip install mlxtend

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: mlxtend in /usr/local/lib/python3.7/dist-packages (0.14.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from mlxtend) (57.4.0)
Requirement already satisfied: matplotlib>=1.5.1 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (3.2.2)
Requirement already satisfied: pandas>=0.17.1 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.3.5)
Requirement already satisfied: scikit-learn>=0.18 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.0.2)
Requirement already satisfied: numpy>=1.10.4 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.21.6)
Requirement already satisfied: scipy>=0.17 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.7.3)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.5.1->mlxtend) (3.0.9)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.5.1->mlxtend) (1.4.4)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.5.1->mlxtend) (0.11.0)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.5.1->mlxtend) (2.8.2)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from kiwisolver>=1.0.1->matplotlib>=1.5.1->mlxtend) (4.1.1)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.17.1->mlxtend) (2022.2.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.1->matplotlib>=1.5.1->mlxtend) (1.15.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.18->mlxtend) (3.1.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.18->mlxtend) (1.1.0)

In [ ]:
from google.colab import files
uploaded=files.upload()

Saving Market_Basket_Optimisation.csv to Market_Basket_Optimisation.csv

In [ ]:
import numpy as np
from copy import deepcopy
from sklearn.pipeline import make_pipeline
from sklearn.compose import make_column_transformer, make_column_selector, ColumnTransformer
from sklearn.preprocessing import StandardScaler, OneHotEncoder, FunctionTransformer
from sklearn.model_selection import GridSearchCV
from sklearn.impute import KNNImputer
from sklearn.ensemble import IsolationForest
from sklearn.decomposition import PCA
from sklearn.metrics import accuracy_score 
from sklearn.model_selection import train_test_split
import pandas as pd 
from sklearn.linear_model import SGDClassifier
from sklearn.feature_selection import SelectKBest,VarianceThreshold
from sklearn.preprocessing import PolynomialFeatures
import seaborn as sns
import mlxtend
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules 
from mlxtend.frequent_patterns import association_rules
dataset=pd.read_csv("Market_Basket_Optimisation.csv", sep=",")
dataset

,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
0,burgers,meatballs,eggs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,chutney,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,turkey,avocado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,mineral water,milk,energy bar,whole wheat rice,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,low fat yogurt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7495,butter,light mayo,fresh bread,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7496,burgers,frozen vegetables,eggs,french fries,magazines,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7497,chicken,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7498,escalope,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7499,eggs,frozen smoothie,yogurt cake,low fat yogurt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
te=TransactionEncoder()
te_ary=te.fit(dataset).transform(dataset)    #Apply one-hot-encoding on our dataset
df=pd.DataFrame(te_ary, columns=te.columns_)  #Creating a new DataFrame from our Numpy array
df

,,a,b,c,d,e,f,g,h,i,...,p,r,s,t,u,v,w,x,y,z
0,False,False,False,False,False,False,False,False,True,True,...,True,True,True,False,False,False,False,False,False,False
1,False,True,False,False,True,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False
2,False,True,False,True,True,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
3,True,True,True,False,False,True,False,True,False,True,...,False,False,True,True,False,True,False,True,False,False
4,True,True,False,False,False,True,False,True,False,False,...,True,True,True,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7495,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7496,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7497,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7498,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7499,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [ ]:
apriori(df, min_support=0.001)

     support    itemsets
0   0.001600         (0)
1   0.002000         (1)
2   0.001600         (5)
3   0.001200         (9)
4   0.001067        (12)
5   0.001067        (13)
6   0.001333        (14)
7   0.001467        (15)
8   0.001067        (17)
9   0.001333        (18)
10  0.001200        (19)
11  0.001200      (0, 1)
12  0.001467      (0, 5)
13  0.001200     (0, 19)
14  0.001067      (1, 5)
15  0.001067     (1, 15)
16  0.001067     (1, 18)
17  0.001067     (1, 19)
18  0.001067     (19, 5)
19  0.001067   (0, 1, 5)
20  0.001067  (0, 1, 19)
21  0.001067  (0, 19, 5)

In [ ]:
frequent_itemsets=apriori(df, min_support=0.001, use_colnames=True) #Instead of column indices we can use column names.
frequent_itemsets

     support   itemsets
0   0.001600        ( )
1   0.002000        (a)
2   0.001600        (e)
3   0.001200        (i)
4   0.001067        (l)
5   0.001067        (m)
6   0.001333        (n)
7   0.001467        (o)
8   0.001067        (r)
9   0.001333        (s)
10  0.001200        (t)
11  0.001200     (a,  )
12  0.001467     (e,  )
13  0.001200     ( , t)
14  0.001067     (a, e)
15  0.001067     (a, o)
16  0.001067     (a, s)
17  0.001067     (a, t)
18  0.001067     (e, t)
19  0.001067  (a, e,  )
20  0.001067  (a,  , t)
21  0.001067  (e,  , t)

In [ ]:
association_rules(frequent_itemsets,metric="confidence",min_threshold=0.001)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(a),( ),0.002000,0.001600,0.001200,0.600000,375.000000,0.001197,2.496000
1,( ),(a),0.001600,0.002000,0.001200,0.750000,375.000000,0.001197,3.992000
2,(e),( ),0.001600,0.001600,0.001467,0.916667,572.916667,0.001464,11.980800
3,( ),(e),0.001600,0.001600,0.001467,0.916667,572.916667,0.001464,11.980800
4,( ),(t),0.001600,0.001200,0.001200,0.750000,625.000000,0.001198,3.995200
5,(t),( ),0.001200,0.001600,0.001200,1.000000,625.000000,0.001198,inf
6,(a),(e),0.002000,0.001600,0.001067,0.533333,333.333333,0.001063,2.139429
7,(e),(a),0.001600,0.002000,0.001067,0.666667,333.333333,0.001063,2.994000
8,(a),(o),0.002000,0.001467,0.001067,0.533333,363.636364,0.001064,2.139714
9,(o),(a),0.001467,0.002000,0.001067,0.727273,363.636364,0.001064,3.659333
10,(a),(s),0.002000,0.001333,0.001067,0.533333,400.000000,0.001064,2.140000
11,(s),(a),0.001333,0.002000,0.001067,0.800000,400.000000,0.001064,4.990000
12,(a),(t),0.002000,0.001200,0.001067,0.533333,444.444444,0.001064,2.140286
13,(t),(a),0.001200,0.002000,0.001067,0.888889,444.444444,0.001064,8.982000
14,(e),(t),0.001600,0.001200,0.001067,0.666667,555.555556,0.001065,2.996400
15,(t),(e),0.001200,0.001600,0.001067,0.888889,555.555556,0.001065,8.985600
16,"(a, e)",( ),0.001067,0.001600,0.001067,1.000000,625.000000,0.001065,inf
17,"(a, )",(e),0.001200,0.001600,0.001067,0.888889,555.555556,0.001065,8.985600
18,"(e, )",(a),0.001467,0.002000,0.001067,0.727273,363.636364,0.001064,3.659333
19,(a),"(e, )",0.002000,0.001467,0.001067,0.533333,363.636364,0.001064,2.139714
20,(e),"(a, )",0.001600,0.001200,0.001067,0.666667,555.555556,0.001065,2.996400
21,( ),"(a, e)",0.001600,0.001067,0.001067,0.666667,625.000000,0.001065,2.996800
22,"(a, )",(t),0.001200,0.001200,0.001067,0.888889,740.740741,0.001065,8.989200
23,"(a, t)",( ),0.001067,0.001600,0.001067,1.000000,625.000000,0.001065,inf
24,"( , t)",(a),0.001200,0.002000,0.001067,0.888889,444.444444,0.001064,8.982000
25,(a),"( , t)",0.002000,0.001200,0.001067,0.533333,444.444444,0.001064,2.140286
26,( ),"(a, t)",0.001600,0.001067,0.001067,0.666667,625.000000,0.001065,2.996800
27,(t),"(a, )",0.001200,0.001200,0.001067,0.888889,740.740741,0.001065,8.989200
28,"(e, )",(t),0.001467,0.001200,0.001067,0.727273,606.060606,0.001065,3.662267
29,"(e, t)",( ),0.001067,0.001600,0.001067,1.000000,625.000000,0.001065,inf
30,"( , t)",(e),0.001200,0.001600,0.001067,0.888889,555.555556,0.001065,8.985600
31,(e),"( , t)",0.001600,0.001200,0.001067,0.666667,555.555556,0.001065,2.996400
32,( ),"(e, t)",0.001600,0.001067,0.001067,0.666667,625.000000,0.001065,2.996800
33,(t),"(e, )",0.001200,0.001467,0.001067,0.888889,606.060606,0.001065,8.986800

In [ ]:
 association_rules(frequent_itemsets,metric="lift",min_threshold=0.001)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(a),( ),0.002000,0.001600,0.001200,0.600000,375.000000,0.001197,2.496000
1,( ),(a),0.001600,0.002000,0.001200,0.750000,375.000000,0.001197,3.992000
2,(e),( ),0.001600,0.001600,0.001467,0.916667,572.916667,0.001464,11.980800
3,( ),(e),0.001600,0.001600,0.001467,0.916667,572.916667,0.001464,11.980800
4,( ),(t),0.001600,0.001200,0.001200,0.750000,625.000000,0.001198,3.995200
5,(t),( ),0.001200,0.001600,0.001200,1.000000,625.000000,0.001198,inf
6,(a),(e),0.002000,0.001600,0.001067,0.533333,333.333333,0.001063,2.139429
7,(e),(a),0.001600,0.002000,0.001067,0.666667,333.333333,0.001063,2.994000
8,(a),(o),0.002000,0.001467,0.001067,0.533333,363.636364,0.001064,2.139714
9,(o),(a),0.001467,0.002000,0.001067,0.727273,363.636364,0.001064,3.659333
10,(a),(s),0.002000,0.001333,0.001067,0.533333,400.000000,0.001064,2.140000
11,(s),(a),0.001333,0.002000,0.001067,0.800000,400.000000,0.001064,4.990000
12,(a),(t),0.002000,0.001200,0.001067,0.533333,444.444444,0.001064,2.140286
13,(t),(a),0.001200,0.002000,0.001067,0.888889,444.444444,0.001064,8.982000
14,(e),(t),0.001600,0.001200,0.001067,0.666667,555.555556,0.001065,2.996400
15,(t),(e),0.001200,0.001600,0.001067,0.888889,555.555556,0.001065,8.985600
16,"(a, e)",( ),0.001067,0.001600,0.001067,1.000000,625.000000,0.001065,inf
17,"(a, )",(e),0.001200,0.001600,0.001067,0.888889,555.555556,0.001065,8.985600
18,"(e, )",(a),0.001467,0.002000,0.001067,0.727273,363.636364,0.001064,3.659333
19,(a),"(e, )",0.002000,0.001467,0.001067,0.533333,363.636364,0.001064,2.139714
20,(e),"(a, )",0.001600,0.001200,0.001067,0.666667,555.555556,0.001065,2.996400
21,( ),"(a, e)",0.001600,0.001067,0.001067,0.666667,625.000000,0.001065,2.996800
22,"(a, )",(t),0.001200,0.001200,0.001067,0.888889,740.740741,0.001065,8.989200
23,"(a, t)",( ),0.001067,0.001600,0.001067,1.000000,625.000000,0.001065,inf
24,"( , t)",(a),0.001200,0.002000,0.001067,0.888889,444.444444,0.001064,8.982000
25,(a),"( , t)",0.002000,0.001200,0.001067,0.533333,444.444444,0.001064,2.140286
26,( ),"(a, t)",0.001600,0.001067,0.001067,0.666667,625.000000,0.001065,2.996800
27,(t),"(a, )",0.001200,0.001200,0.001067,0.888889,740.740741,0.001065,8.989200
28,"(e, )",(t),0.001467,0.001200,0.001067,0.727273,606.060606,0.001065,3.662267
29,"(e, t)",( ),0.001067,0.001600,0.001067,1.000000,625.000000,0.001065,inf
30,"( , t)",(e),0.001200,0.001600,0.001067,0.888889,555.555556,0.001065,8.985600
31,(e),"( , t)",0.001600,0.001200,0.001067,0.666667,555.555556,0.001065,2.996400
32,( ),"(e, t)",0.001600,0.001067,0.001067,0.666667,625.000000,0.001065,2.996800
33,(t),"(e, )",0.001200,0.001467,0.001067,0.888889,606.060606,0.001065,8.986800